@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

button{
    width: 50vw;
    height: 10%;
    padding: 1rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    border-style: none;
    font-family:'Montserrat', sans-serif;
    font-weight: bolder;
    
}

h4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    font-size: 0.9rem;
    text-align: center;
}